body{
	font-family: 'Rajdhani',sans-serif;
}
imgrule.{
	display: flex;
	float: right;
	width: 28rem;
}

nav a {
	display: inline-block;
	text-decoration: none;
	background-color: #B2DFDB;
	padding: 10px 15px;
	font-size: 18px;
	color: #1d755b;
	margin: 5px;
	border-radius: 10px;
	
} 

nav a:hover {
	color:#1d755b;
}

nav a {
	display: inline-block;
	text-decoration: none;
	background-color: #B2DFDB;
	padding: 10px 15px;
	font-size: 18px;
	color: #1d755b;
	margin: 5px;
	border-radius: 10px;
	
} 

nav a:hover {
	color: #11543b;
}

h1 {
    color: #b1b530;
	background-color: #1d755b;
	font-family: 'Orbitron',sans-serif;
	font-style: italic;
	text-align: center;
	border:2px groove navy;
    border-radius: 50px;
	text-shadow: 2px 2px 6px #B2DFDB;
}
article {
	background-color: #A3D9C5;
	text-align: center;
}


}
#field-notes span,
#field-notes strong,
#field-notes a {
	outline: 2px dashed darkorange;
}

#field-notes div,
#field-notes p {
	outline: 2px solid seagreen;
}

h1 {
    color: #b1b530;
	background-color: #1d755b;
	font-family: 'Orbitron',sans-serif;
	font-style: italic;
	text-align: center;
	border:2px groove navy;
    border-radius: 50px;
	text-shadow: 2px 2px 6px #B2DFDB;
}

h2 { 
	color: #b1b530;
	background-color: #1d755b;
	font-family: 'Orbitron',sans-serif;
	font-style: italic;
	text-align: center;
	border:2px groove navy;
    border-radius: 50px;
	text-shadow: 2px 2px 6px #B2DFDB;
}

h3 { 
	color: #b1b530;
	background-color: #1d755b;
	font-family: 'Orbitron',sans-serif;
	font-style: italic;
	text-align: center;
	border:2px groove navy;
    border-radius: 50px;
	text-shadow: 2px 2px 6px #B2DFDB;
}

cards. {
	display:flex;
	justify-content:columns;
}
card1 {
	
	background-color: #2F5244;
	color: #373c44;
	border: 1px solid #e7eaf0;
	border-radius: 20px;
	padding: 1.25rem 1.5rem;
	margin-bottom: 1.5rem;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06),
	0 8px 24px rgba(0, 0, 0, 0.08);
}
card2 {
	background-color: #2F5244;
	color: #373c44;
	border: 1px solid #e7eaf0;
	border-radius: 20px;
	padding: 1.25rem 1.5rem;
	margin-bottom: 1.5rem;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06),
	0 8px 24px rgba(0, 0, 0, 0.08);
}
card3 {
	background-color: #2F5244;
	color: #373c44;
	border: 1px solid #e7eaf0;
	border-radius: 20px;
	padding: 1.25rem 1.5rem;
	margin-bottom: 1.5rem;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06),
	0 8px 24px rgba(0, 0, 0, 0.08);
}
card4 {
	background-color: #2F5244;
	color: #373c44;
	border: 1px solid #e7eaf0;
	border-radius: 20px;
	padding: 1.25rem 1.5rem;
	margin-bottom: 1.5rem;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06),
	0 8px 24px rgba(0, 0, 0, 0.08);
}
.scoreboard {
	
	
	font-size: 100px;
	font-weight: bold;
	text-align: center;
	padding: 8px;
}
.border1 {
	padding: 12px;
	border: navy solid 2px;
	margin:50px;
	background-color:#b1b530;
	
	
}	

.border2 {
	padding:12px;
	border-style: groove;
	border-color: #A3D9C5;
	margin:50px;
	background-color: #2F5244;
	color:#b1b530;
}
