body{
	margin: 0;
	font-family: 'Rajdhani',sans-serif;
	background-color:#0d2f3d;
}
imgrule.{
	display: flex;
	float: right;
	width: 28rem;
}

.navigate {
	width: 100%;
	
	background:#071827;
	
	
	border: 2px solid #27dfe5;
	border-radius: 0;
	
	box-shadow:
	0 0 10px rgba(39,223,229,0.5),
	inset 0 0 15px rgba(255,222,255,0.02),
	
	
	clip-path: polygon (
	25px 0,
	100% 0,
	100% calc(100% -25px),
	calc(100% -25px) 100%,
	0 100%,
	0 25px
	);
	
}
.navigate {
	position:relative;
	
}

.navigate::before {
content: "";
position:absolute;

top: 7px;
left:32px;

width: 70px;
height: 3px;

background: #d7df32;

box-shadow:
0 0 5px #d7df32,
0 0 10px rgba(215,223,50,0.7);
}
	
.navigate nav ul{
	display:flex;
	justify-content: center;
	align-items: center;
	
	gap: 25px;
	
	margin:0;
	padding: 14px 20px;
	
	list-style: none;
	
}
.navigate nav a {
	display: inline-block;
	
	padding: 10px 22px;
	
	font-family: "Rajdhani", sans-serif;
	font-weight: 700;
	letter-spacing: 1px;
	font-size: 18px;
	color: #071f2b;
	
	border: 1px solid @27dfe5;
	border-radius: 4px;
	
	background:
	linear-gradient(
	180deg,
	#d5ffff,
	#8fdadd
	);
	text-decoration: none;
	
	
	transition: 0.25s;
	
} 

nav a:hover {
	color:#d7df32;
	
	border-color: #00d9ff;
	
	box-shadow:
	0 0 8px rgba(0,217,255,0.6),
	inset 0 0 6px rgba(0,217,255,0.15);
	transform: translateY(-2px);
}

nav a {
	display: inline-block;
	text-decoration: none;
	background-color: #B2DFDB;
	padding: 10px 15px;
	font-size: 18px;
	color: #1d755b;
	margin: 5px;
	border-radius: 10px;
	
} 

nav a:hover {
	color: #11543b;
}

h1 {
    color: #b1b530;
	background-color: #1d755b;
	font-family: 'Orbitron',sans-serif;
	font-style: italic;
	text-align: center;
	border:2px groove navy;
    border-radius: 50px;
	text-shadow: 2px 2px 6px #B2DFDB;
}
article {
	background-color: #A3D9C5;
	text-align: center;
}


}
#field-notes span,
#field-notes strong,
#field-notes a {
	outline: 2px dashed darkorange;
}

#field-notes div,
#field-notes p {
	outline: 2px solid seagreen;
}

h1 {
    color: #b1b530;
	background-color: #1d755b;
	font-family: 'Orbitron',sans-serif;
	font-style: italic;
	text-align: center;
	border:2px groove navy;
    border-radius: 50px;
	text-shadow: 2px 2px 6px #B2DFDB;
}
 /*=============================
 SHARED SYNTH NOVA HEADER
 ============================*/
 .main-header {
 display:flex;
 justify-content: space-between;
 align-items: center;
 
 padding:25px 40px;
 
 background: liner-gradient (
 
 
 
 135deg,
 #102f48 0%,
 #0b2238 55%,
 #071827 100%
 );
 border-top:1 px solid #27dfe5;
 border-bottom: 2px solid #00d9ff;
 
 box-shadow:
 0 0 15px rgba(0,217,255,0.25),
 inset 0 -5px 15px rgba(0,217,255,0.08);
 }
 
 .header-left h1 {
 margin: 4px 0;
 
 font-family: "Orbitron",sans-serif;
 
 color:#d7df32;
 
 text-shadow: 
 0 0 15px rgba(215,223,50,0.8),
 0 0 12px rgba(215,223,50,0.4);
 }
 
 .system-label {
 margin:0;
 
 font-family:"Orbitron", sans-serif;
 font-size: 0.7rem;
 letter-spacing: 2px;
 
 color: #00d9ff;
 }

.page-subtitle {
	margin: 0;
	font-family: "Rajdhani", sans-serif;
	letter-spacing: 2px;
	color: #e8ffff;
	}
 
 /*=====================
 SYSTEM status
 ======================*/
 .header-status{
 display:flex;
 align-items: center;
 gap: 12px;
 }
 
 .status-dot {
 width: 12px;
 height: 12px;
 
 background:#d7df32;
 
 border-radius: 50%;
 
 box-shadow:
 0 0 5px #dfdf32,
 0 0 12px #dfdf32;
 }
  .status-title'
  .status-value {
  margin: 0;
  font-family: "orbitron", sans-serif;
  }
  .status-title {
  font-size: 0.65rem;
  color: #8caeb5;
  }
  
  .status-value {
  font-size: 0.8rem;
  color: #d7df32;
  }
  
h2 { 
	color: #b1b530;
	background-color: #1d755b;
	font-family: 'Orbitron',sans-serif;
	font-style: italic;
	text-align: center;
	border:2px groove navy;
    border-radius: 50px;
	text-shadow: 2px 2px 6px #B2DFDB;
}

h3 { 
	color: #b1b530;
	background-color: #1d755b;
	font-family: 'Orbitron',sans-serif;
	font-style: italic;
	text-align: center;
	border:2px groove navy;
    border-radius: 50px;
	text-shadow: 2px 2px 6px #B2DFDB;
}

cards. {
	display:flex;
	justify-content:columns;
}
card1 {
	
	background-color: #2F5244;
	color: #373c44;
	border: 1px solid #e7eaf0;
	border-radius: 20px;
	padding: 1.25rem 1.5rem;
	margin-bottom: 1.5rem;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06),
	0 8px 24px rgba(0, 0, 0, 0.08);
}
card2 {
	background-color: #2F5244;
	color: #373c44;
	border: 1px solid #e7eaf0;
	border-radius: 20px;
	padding: 1.25rem 1.5rem;
	margin-bottom: 1.5rem;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06),
	0 8px 24px rgba(0, 0, 0, 0.08);
}
card3 {
	background-color: #2F5244;
	color: #373c44;
	border: 1px solid #e7eaf0;
	border-radius: 20px;
	padding: 1.25rem 1.5rem;
	margin-bottom: 1.5rem;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06),
	0 8px 24px rgba(0, 0, 0, 0.08);
}
card4 {
	background-color: #2F5244;
	color: #373c44;
	border: 1px solid #e7eaf0;
	border-radius: 20px;
	padding: 1.25rem 1.5rem;
	margin-bottom: 1.5rem;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06),
	0 8px 24px rgba(0, 0, 0, 0.08);
}
.scoreboard {
	
	
	font-size: 100px;
	font-weight: bold;
	text-align: center;
	padding: 8px;
}
.border1 {
	padding: 12px;
	border: navy solid 2px;
	margin:50px;
	background-color:#b1b530;
	
	
}	

.border2 {
	padding:12px;
	border-style: groove;
	border-color: #A3D9C5;
	margin:50px;
	background-color: #2F5244;
	color:#b1b530;
}
/*===============
		UNITY NEXUS EMBLEM
	================*/ 
	.main-footer{
		display:flex;
		justify-content: space-between;
		align-items: center;
		
		gap: 20px;
		
		width: 100%;
		box-sizing: border-box;
		
		margin-top: 25px;
		padding: 20px 35px;
		background: linear-gradient(
		135deg,
		#081b24,
		#0d343b,
		#10262d
		);
		
		border-top: 2px solid #23d8cb;
		color:white;
		font-family: "Rajdhani", sans-serif;
	}
	
	
	
	
	.footer-emblem {
		width: 48px;
		height: 48px;
		
		display: flex;
		justify-content: center;
		align-items: center;
		
		border: 2px solid #23d8cb;
		border-radius: 50%;
		
		position: relative;
		box-shadow: 
		0 0 8px #23d8cb,
		0 0 18px rgba(35,216,203,0.5);
	}
	
	/* Inner Nexus ring */
	footer-emblem: before {
		content: "";
		width: 30px;
		height: 30px;
		position: absolute;
		
		border: 1px solid #61fff1;
		border-radius: 50%;
	}
	
	/* Central Intelligence Node */
	
	.emblem-core {
		width: 8px;
		height: 8px;
		
		background-color: #61fff1;
		border-radius: 50%;
		
		box-shadow:0 0 6px #61fff1,
		0 0 12px #23d8cb;
	}
	
	