 body{
font-family: 'Rajdhani',sans-serif;
}
.imgrule{ 
	display: flex;
	float: right;
	width: 28rem;
}

 nav a {
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #B2DFDB;
  padding: 10px 15px;
  font-size: 18px;
  color: #1d755b;
  margin: 5px;
  border-radius: 10px;

} 

 nav a:hover {
	color:body{
font-family: 'Rajdhani',sans-serif;
}


h1 {
    color: #b1b530;
	background-color: #1d755b;
	font-family: 'Orbitron',sans-serif;
	font-style: italic;
	text-align: center;
	border:2px groove navy;
    border-radius: 50px;
	text-shadow: 2px 2px 6px #B2DFDB;
}
article {
  background-color: #A3D9C5;
  text-align: center;
}


}
#field-notes span,
#field-notes strong,
#field-notes a {
  outline: 2px dashed darkorange;
}

#field-notes div,
#field-notes p {
  outline: 2px solid seagreen;
}

h1 {
    color: #b1b530;
	background-color: #1d755b;
	font-family: 'Orbitron',sans-serif;
	font-style: italic;
	text-align: center;
	border:2px groove navy;
    border-radius: 50px;
	text-shadow: 2px 2px 6px #B2DFDB;
}

h2 { 
 color: #b1b530;
	background-color: #1d755b;
	font-family: 'Orbitron',sans-serif;
	font-style: italic;
	text-align: center;
	border:2px groove navy;
    border-radius: 50px;
	text-shadow: 2px 2px 6px #B2DFDB;
}

h3 { 
 color: #b1b530;
	background-color: #1d755b;
	font-family: 'Orbitron',sans-serif;
	font-style: italic;
	text-align: center;
	border:2px groove navy;
    border-radius: 50px;
	text-shadow: 2px 2px 6px #B2DFDB;
}

.scoreboard {
	display:flex;
	justify-content: center;
	align-items: center;
	}